<html>
<head>
    <title>Gift List Editor</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/application.js"></script>
</head>
    <body>
        <div class="container">
            <form data-bind="submit: save">
                <h2>Gift List Editor</h2>
                <p>You have asked for <strong data-bind="text: gifts().length">&nbsp;</strong> gift(s)</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Gift Name</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: gifts">
                        <tr data-bind="event: { dblclick: $parent.editItem}, css: { editing: ($parent.editing() && $data === $parent.selectedGift()) ? true : false }">
                            <td><span class="view" data-bind="text: Title"></span><input class="form-control edit required" data-bind="value: Title, valueUpdate: 'afterkeydown', uniqueName: true" required /></td>
                            <td><span class="view">$ <span data-bind="text: Price"></span></span><input class="form-control edit required number" data-bind="value: Price, valueUpdate: 'afterkeydown', uniqueName: true" required /></td>
                            <td><a href="#" data-bind="click: $parent.deleteGift"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" data-bind="click: addGift">Add Gift</button>
                <button class="btn btn-default" type="submit" data-bind="enable: gifts().length > 0">Save</button>
            </form>
        </div>
        
    </body>
</html>