<html>
<head>
    <title>Gift List Editor</title>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/toastr.min.js"></script>
</head>
    <body>
        <form data-bind="submit: save">
            <h2>Gift List Editor</h2>
            <p>You have asked for <span data-bind="text: gifts().length">&nbsp;</span> gift(s)</p>
            <table>
                <tbody data-bind="foreach: gifts">
                    <tr>
                        <td>Gift Name: <input class="required" data-bind="value: Title, uniqueName: true" /></td>
                        <td>Price: $ <input class="required" data-bind="value: Price, uniqueName: true" /></td>
                        <td><a href="#" data-bind="click: $parent.deleteGift">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            <button data-bind="click: addGift">Add Gift</button>
            <button type="submit" data-bind="enable: gifts().length > 0">Save</button>
        </form>



        <script type="text/javascript">
            var initialData = @Html.Raw(Json.Encode(Model));

            var Gift = function (title, price) {
                this.Title = title;
                this.Price = price;
            }

            var ViewModel = function () {
                var self = this;

                // Values
                self.gifts = ko.observableArray(initialData);

                // Behaviors
                self.addGift = function () {
                    self.gifts.push(new Gift("", ""));
                }

                self.deleteGift = function (gift) {
                    self.gifts.remove(gift);
                }

                self.save = function () {
                    if($('form').valid()) {
                        $.post(location.href, { gifts: ko.toJSON(self.gifts) }, function (response) {
                            toastr.success(response.count + " item(s) saved!");
                        });
                    }
                }
            }

            ko.applyBindings(new ViewModel());

            $("form").validate();

        </script>
    </body>
</html>