# Heroku environmental variables.
# https://devcenter.heroku.com/articles/config-vars
.env

# MS
GiftList/GiftList.WebUI.csproj.user
GiftList/bin/
GiftList/obj/
GiftList.Domain/bin/
GiftList.Domain/obj/
GiftList.Tests/bin/
GiftList.Tests/obj/
GiftList.v12.suo
packages

# npm packages
node_modules

# old js
client/src/oldjs/

# bower packages
GiftList/Scripts/vendor/
GiftList/Scripts/bundle.js

# Mac
.DS_Store

# Emacs
*~

# thumbnails
Thumbs.db