<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gift List Editor</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*@Scripts.Render("~/bundles/jquery")*@
    <link rel="stylesheet" href="Scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <section id="flux-grid" class="container"></section>
    <script src="Scripts/bundle.js"></script>
</body>
</html>